:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}
*{
    border: 1px solid tomato;
   
}
  body{
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--slate);
    background-color: var(--white);
    letter-spacing: 0.02em;
    line-height: 1.5;
}

img{
    display: block;
}

a{
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.container{
    width: 1148px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-logo-link,
.footer-logo-link{
    font-family: "Raleway",sans-serif;
    text-transform: uppercase;
}

.header-logo-link{
    color: var(--navy-blue);
}
   

span{
    color: var(--iris);
}

.header-nav-list a{
    color: var(--navy-blue);
}
.header-nav-list a:hover,
.header-nav-list a:focus{
    color: var(--ocean);
}

.nav-link-studio:active{
    color: var(--ocean);
    text-decoration: underline;
}

.header-contacts-link{
    color: var(--slate); 
    font-style: normal;   
}

.header-contacts-link:hover,
.header-contacts-link:focus{
    color: var(--ocean);
}

.hero{
    text-align: center;
    background-color: var(--navy-blue);
    color: var(--white);
}

h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 48px;      
}

button{
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 69px;
 
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
    font-weight: 500;
    letter-spacing: 0.04em;
    color: var(--white);
}

button:hover,
button:focus{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--ocean);
    cursor: pointer;
}

.features-title{
    display: none;
}

h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue);

    margin-top: 0;
    margin-bottom: 0;
}

.features-desc{
    margin-top: 0;
    margin-bottom: 0;
}

.our-team{
    background-color: var(--cloud);
}

h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    color: var(--navy-blue);
    margin-top: 0;
    margin-bottom: 0;
}

.our-team-item{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: var(--white);
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px;
    width: 264px;
    text-align: center;
    padding-bottom: 0;
}

img{
    margin-bottom: 32px;
}

.name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue);
}

.our-team-item .name{
    margin-top: 0;
    margin-bottom: 7px;
}
   
.our-team-item p{
    margin-top: 0;
    margin-bottom: 0;
}

.portfolio-item{
    width: 360px;
}



.portfolio-item .name{
    margin-top: 0;
    margin-bottom: 8px;

}

.portfolio-item p{
    margin-top: 0;
    margin-bottom: 0;
}

footer{
    background-color: var(--navy-blue);
}

.footer-logo-link{
    color: var(--cloud);
}

.footer-info-container{
    color: var(--cloud);
}

